* {
    margin:0;
    padding:0;
}

body {
    background: #313338;
    display: flex;
}

.menu {
    width: 17.75rem;
    height: 100vh;
    background: #2b2d31;
}

.overflow {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.overflow::-webkit-scrollbar {
    display: none;
}

.title {
    color: #F5F1F1;
    text-align: center;
    margin: 1.5rem auto;
}

.slide {
    height: 8rem;
    width: 11.25rem;
    background: #F5F1F1;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 0.4vw;
    transform: scale(1);
}

.slide img{
    height: auto;
    max-width: 5.25rem;
}

.slide pre {
    font-size: 0.16vw;
    overflow: hidden;
}

.current-slide {

    height: 36rem;
    width: 64rem;
    padding: 2rem;
    background: #F5F1F1;
    border-radius: 0.25rem;
}

.border {
    transform: scale(1.1);
    margin: 2rem auto;
}

.row {

    width: 16.75rem;
    display: flex;
    justify-content: center;
}

.row .num-diapo{
    color: #ffffff;
    margin-left: 1rem;
    margin-top: 1rem;
}

.column {
    width:auto;
    display : flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
}

.timer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: auto;
    font-size: 3rem;
    color: #c5c8c6;
}